@{Layout = null;}
<!DOCTYPE html>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")

<link href="/Content/font-awesome.min.css" rel="stylesheet" />
<link href="/Content/agency.min.css" rel="stylesheet" />


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start</title>
</head>

<body style="padding-top:0px;" id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="~/Home/Index">E-Sale</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/Company/Login">Company</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/User/login">User</a>
                    </li>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Community</div>
                <div class="intro-heading">Get in , Share your products to the world</div>
            </div>
        </div>
    </header>
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
               
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Share the company products to the world</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Social</h4>
                    <p class="text-muted">Share your Thoughts with your Friends</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Buying</h4>
                    <p class="text-muted">Follow Your Preferd Companies And Buy Thier Products</p>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
